.testsListCont {
  .title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15vw;
    text-align: left;
    font-size: 2rem;

    button {
      font-size: 1rem;
      padding: 10px 30px;
      background-color: #00c851;
      border: 2px solid #00c851;
      color: #fff;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      transition: 0.3s all ease;

      &:hover {
        background-color: #007e33;
        border-color: #007e33;
      }
    }
  }

  .centreCard {
    background-color: #fff;
    box-shadow: 18px 18px 36px #bebebe, -18px -18px 36px #ffffff;
    margin: 3em 15vw;
    border-radius: 20px;

    .testsList {
      display: flex;
      flex-direction: column;
      text-align: left;

      .test {
        padding: 20px 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr 3fr 1fr 2fr);
        justify-items: center;
        align-items: center;

        & > div {
          width: 100%;
          text-align: center;
          white-space: nowrap;

          strong {
            font-weight: 500;
          }
        }

        .index {
          text-align: left;
        }

        .testTitle {
          text-align: left;
          font-weight: 500;

          a {
            text-decoration: underline !important;
          }

          .date {
            font-size: 0.9rem;
            font-weight: 400;
          }
        }

        .buttons {
          text-align: right;

          a {
            button {
              background: transparent;
              border: none;
              height: 40px;
              width: 40px;
              border-radius: 50%;
              outline: none;
              cursor: pointer;
              transition: 0.3s all ease;

              i {
                transition: 0.3s all ease;
              }
            }

            &:first-child {
              button {
                border: 1px solid #00c851;

                i {
                  color: #00c851;
                }
              }

              &:hover {
                button {
                  background-color: #00c851;

                  i {
                    color: #fff;
                  }
                }
              }
            }

            &:nth-child(2) {
              margin-left: 1em;

              button {
                border: 1px solid #33b5e5;

                i {
                  color: #33b5e5;
                }
              }

              &:hover {
                button {
                  background-color: #33b5e5;

                  i {
                    color: #fff;
                  }
                }
              }
            }

            &:nth-child(3) {
              margin-left: 1em;

              button {
                border: 1px solid #ff4444;

                i {
                  color: #ff4444;
                }
              }

              &:hover {
                button {
                  background-color: #ff4444;

                  i {
                    color: #fff;
                  }
                }
              }
            }

            &:last-child {
              margin-left: 1em;

              button {
                border: 1px solid #ffbb33;

                i {
                  color: #ffbb33;
                }
              }

              &:hover {
                button {
                  background-color: #ffbb33;

                  i {
                    color: #fff;
                  }
                }
              }
            }
          }
        }

        &:nth-child(odd) {
          background-color: #f2f2f2;
        }

        &:first-child {
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
        }

        &:last-child {
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .testsListCont {
    .title {
      padding: 0 20px;
      font-size: 1.7rem;

      button {
        padding: 7px 10px;
        font-size: 0.9rem;
      }
    }

    .centreCard {
      margin: 2em 20px 3em;
      border-radius: 10px;

      .testsList {
        display: flex;
        flex-direction: column;
        text-align: left;

        .test {
          padding: 20px;
          grid-template-columns: repeat(1, 1fr 3fr);

          .index {
            text-align: center;
          }

          .testTitle {
            text-align: center;
          }

          .buttons {
            margin-top: 1.5em;
            text-align: center;
          }

          &:first-child {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }

          &:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }
}
