.h3-text {
  text-align: center;
}
.admin-container {
  position: relative;
  margin: 20px;
  min-height: 70vh;
}
.membersList {
  display: grid;
  grid-template-columns: repeat(1, 1fr 1fr);

  .singleMember {
    display: grid;
    grid-template-columns: repeat(1, 40% 60%);
    grid-gap: 0.4em;
    padding: 20px;

    .leftSide {
      .name {
        font-weight: bold;
        text-transform: capitalize;
      }

      .branch,
      .sem {
        color: #616161;
        font-size: 0.85em;
      }

      .member,
      .payment {
        padding: 3px 12px;
        font-size: 0.8em;
        background-color: teal;
        color: #fff;
        border-radius: 3px;
        text-align: center;
        width: 150px;
        margin-top: 0.4em;
      }

      .payment {
        &.green {
          background-color: #3cb371;
        }

        &.red {
          background-color: #f23d5d;
        }
      }
    }

    .rightSide {
      .email,
      .contactno {
        font-size: 0.85em;

        span {
          font-weight: bold;
        }
      }

      .interests,
      .workshops {
        margin-top: 0.5em;
      }

      .actionBtns {
        button {
          padding: 3px 12px;
          font-size: 0.8em;
        }
      }
    }

    &:nth-child(4n + 1),
    &:nth-child(4n + 4) {
      background-color: #f2f2f2;
    }

    &:hover {
      background-color: #ececec;
    }
  }
}

@media only screen and (max-width: 992px) {
  .admin-container {
    margin: 0;
  }

  .membersList {
    grid-template-columns: repeat(1, 1fr);

    .singleMember {
      &:nth-child(4n + 1),
      &:nth-child(4n + 4) {
        background-color: #fff;
      }

      &:nth-child(even) {
        background-color: #f2f2f2;
      }
    }
  }
}

/* Popup Menus */
.popupMenus {
  position: fixed;
  pointer-events: none;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999;
  opacity: 0;
  transition: 0.4s all ease;

  & > div {
    position: relative;
    display: none;
    margin: 50% 5vw 0;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 0 0 15px;
    border-radius: 10px;

    .closePopup {
      position: absolute;
      color: #fff;
      background-color: #191d34;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      padding: 15px;
      top: -15px;
      right: -15px;
      border: 3px solid #fff;
      text-align: center;
      cursor: pointer;

      i {
        transform: translate(-50%, -75%);
      }
    }

    .popupHeading {
      background-color: #191d34;
      font-size: 1.3em;
      color: #fff;
      padding: 10px;
      width: 100%;
      text-align: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .popupBody {
      margin: 0 15px;
      padding: 15px 0 0;

      .profileDetails {
        font-size: 0.9em;
        display: grid;
        grid-template-columns: repeat(1, 1fr 1fr);
        grid-gap: 0.3em;
      }
    }
  }

  &.popupVisible {
    opacity: 1;
    pointer-events: all;
  }
}
/* End Popup Menus */

/* Responsive mode for Desktop */
@media only screen and (min-width: 992px) {
  .popupMenus {
    & > div {
      margin: 20vh 33vw;
      transform: translateY(0);
    }
  }
}
/* End responsive mode */
