.singleEventCont {
  padding: 30px 15vw;

  .eventDetails {
    padding: 0 15px 15px;
    font-family: "Montserrat", sans-serif !important;
    text-align: justify;
    font-size: 0.9em;

    p {
      span {
        font-family: "Montserrat", sans-serif !important;
        font-size: 1.05em !important;
      }
    }
  }

  .shareButtons {
    margin-top: 1em;
    align-self: start;

    button {
      outline: none;

      &:not(:first-child) {
        margin-left: 0.5em;
      }
    }
  }

  .editBtn {
    button {
      margin: 20px 0;
      padding: 7px 30px;
      background-color: #191d34;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 0.9rem;
      outline: none;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 992px) {
  .singleEventCont {
    padding: 30px 20px;
  }
}
