.editBlogContainer {
  margin: 20px;
}

.title {
  font-family: "Barlow Condensed", sans-serif;
  margin-top: 1em;

  h3 {
    position: relative;
    font-size: 2em;

    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 50%;
      background-color: #ff7e5f;
      bottom: -0.1em;
      left: 0;
    }
  }
}
.summernote {
  margin-top: 1.5em;

  textarea {
    width: 100%;
  }
}

.formsCont {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
}

@media only screen and (min-width: 992px) {
  .formsCont {
    grid-template-columns: repeat(1, 3fr 2fr);

    form {
      width: 90%;
      margin: 0 auto;
    }
  }
}
