.sectionTitle {
  text-align: center;
  margin: 2em 0 1em;
  font-size: 2em;
}
a {
  text-decoration: none !important;
}
.eventsCardCont {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1.5em;
  margin: 0 0 2em;

  .eventsCard {
    display: grid;
    grid-template-columns: repeat(1, 45% 55%);
    box-shadow: 12px 12px 29px #d6d6d6, -12px -12px 29px #ffffff;
    border-radius: 10px;
    border: none !important;
    height: 200px;
    transition: 0.3s all ease;

    &:hover {
      transform: scale(1.03);
    }

    .cardImage {
      img {
        height: 200px;
        width: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }

    .cardBody {
      height: 200px;
      margin: 0 !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      border: none !important;
      color: #000;

      .cardTitle {
        font-size: 1.25em;
      }

      .cardSubtitle {
        color: #616161;
        font-size: 1.1em;
      }
    }
  }
}
.eventsCard.comingSoon {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: lightgray;
  box-shadow: 12px 12px 29px #d6d6d6, -12px -12px 29px #ffffff;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s all ease;

  &:hover {
    transform: scale(1.03);
  }

  .cardBody {
    margin: 0 !important;
    padding: 30px 10px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: none !important;
    color: #000;

    .cardTitle {
      font-size: 1.25em;
    }

    .cardSubtitle {
      color: #616161;
      font-size: 1.1em;
    }
  }
}

@media only screen and (max-width: 768px) {
  .eventsCardCont {
    grid-template-columns: repeat(1, 1fr);

    .eventsCard {
      grid-template-columns: repeat(1, 2fr 3fr);
      height: 170px;

      .cardImage {
        img {
          height: 170px;
        }
      }

      .cardBody {
        height: 170px;
      }
    }
  }
}
