.gallery-container {
  position: relative;
  margin: 20px;
  min-height: 70vh;
}

.title {
  font-family: "Barlow Condensed", sans-serif;
  margin-top: 1em;
}
.title h2 {
  position: relative;
  font-size: 2em;
}
.title h2::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 50%;
  background-color: #ff7e5f;
  bottom: -0.1em;
  left: 0;
}
.aboutText {
  text-align: justify;
}

.gallery_img {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.single_gallery_img {
  margin: 5px 5px 5px 5px;
  transition: transform 450ms;
}

.single_gallery_img:hover {
  transform: scale(3);
}
