@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.blogContainer {
  margin: 20px;
}

.errorMessage {
  width: 65vw;
  margin: 6em auto;
}

.blogContents {
  display: flex;
  flex-direction: column;
  align-items: center;

  .profileImage {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  .blogDetails {
    padding: 0 15px 15px;
    font-family: "Montserrat", sans-serif !important;
    text-align: justify;
    font-size: 0.9em;

    p {
      span {
        font-family: "Montserrat", sans-serif !important;
        font-size: 1.05em !important;
      }
    }
  }

  .shareButtons {
    margin-top: 1em;
    align-self: start;

    button {
      outline: none;

      &:not(:first-child) {
        margin-left: 0.5em;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .blogContents {
    width: 70%;
    margin: auto;

    .shareButtons {
      margin: 2em 0 0 0;
    }
  }
}
