@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.blogContainer {
  margin: 20px;
}
.blogContents {
  display: flex;
  flex-direction: column;
  align-items: center;

  .blogHeader {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;

    .blogImage {
      width: 100%;
    }

    .headerContent {
      .blogTitle {
        font-size: 1.7em;
        font-weight: bolder;
      }

      .blogAuthor {
        font-size: 1.15em;
      }

      .blogDate {
        color: #616161;
        font-size: 0.85em;
      }

      div {
        .blogCategory {
          margin-top: 1.5em;
          white-space: nowrap;
          color: #fff;
          text-transform: uppercase;
          padding: 10px 45px;
          border: none;
          border-radius: 25px;
          background-color: #36096d;
          background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
          outline: none;
          cursor: default;
        }
      }
    }
  }

  .blogDetails {
    margin-top: 2em;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    font-size: 0.9em;
  }

  .shareButtons {
    margin-top: 1em;
    align-self: start;

    button {
      outline: none;

      &:not(:first-child) {
        margin-left: 0.5em;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .blogContents {
    width: 70%;
    margin: auto;

    .blogHeader {
      grid-template-columns: repeat(2, 1fr);
    }

    .shareButtons {
      margin: 1em 0 0 0;
    }
  }
}
