@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.blogContainer {
  margin: 20px;
}

.errorMessage {
  width: 65vw;
  margin: 6em auto;
}

.blogContents {
  display: flex;
  flex-direction: column;
  align-items: center;

  .profileImage {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  .blogDetails {
    padding: 0 15px 15px;
    font-family: "Montserrat", sans-serif !important;
    text-align: justify;
    font-size: 0.9em;

    p {
      span {
        font-family: "Montserrat", sans-serif !important;
        font-size: 1.05em !important;
      }
    }
  }

  .shareButtons {
    margin-top: 1em;
    align-self: start;

    button {
      outline: none;

      &:not(:first-child) {
        margin-left: 0.5em;
      }
    }
  }

  .addComment {
    input {
      padding: 10px 30px;
    }

    button {
      padding: 10px 30px;
      border: 1px solid #000;
      outline: none;
      cursor: pointer;
    }
  }

  .commentsList {
    .singleComment {
      display: flex;

      .left {
        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
        }
      }

      .right {
        margin-left: 1em;

        h5 {
          font-size: 1rem;
          font-weight: 600;

          .comment {
            color: #727070;
            font-size: 0.95rem;
            font-weight: 400;
            margin-left: 0.5em;
          }
        }

        .date {
          color: #727070;
          font-size: 0.85rem;
          margin-top: 0.5em;

          .actionBtns {
            margin-left: 1em;

            button {
              padding: 3px 12px;
              font-size: 0.8em;
              margin-top: 0;
            }
          }
        }
      }

      &:not(:first-child) {
        position: relative;
        margin-top: 2em;

        &::before {
          position: absolute;
          content: "";
          height: 1px;
          width: 100%;
          background-color: #a5a1a1;
          top: -1em;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .blogContents {
    width: 70%;
    margin: auto;

    .shareButtons {
      margin: 2em 0 0 0;
    }
  }
}
