.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #000f52;
  color: whitesmoke;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:180px 0px 70px 0px;
  margin:0px auto;
  background-image: url(./img/faq.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 0.7;
  color:rgb(59, 40, 0);
  border-radius: 0% 0% 50% 50% / 0% 0% 7% 7%;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  z-index: 9999 !important;
  position: fixed;
  left: 0;
  top: 0px;
  width: 100%;
  border-color: transparent;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 10px rgb(0, 0, 0);
}
.nav-btn {
  color: black;
  margin: 0px 10px 0px 10px;
  padding: 20px 10px 20px 10px;
}
.navbar-toggler {
  background: #b6b6b6;
}
.nav-btn:hover {
  color: #ff7e5f;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.banner_text_iner {
  color: antiquewhite;;
}

.page-enter {
  position: fixed;
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}

.btn_2 {
  display: inline-block;
  padding: 14px 30px;
  border-radius: 50px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #0b025f;
  font-weight: 500;
  letter-spacing: 1px;
}

.btn_1 {
  display: inline-block;
  padding: 14px 30px;
  border-radius: 50px;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #4dbb39;
  font-weight: 500;
  letter-spacing: 1px;
}

.btn_1:hover, .btn_2:hover {
  color: #4dbb39;
  background-color: #fff;
}

.single_service_part {
  margin: 10px 10px 10px 10px;
  font-weight: 300;
  text-align: center;
  -webkit-transition: 1s;
  transition: 1s;
  border: 1px solid #dfdfdf;
}

.single_service_part:hover {
  
  font-weight: 300;
  background-color: #279309;
  color: floralwhite;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #dfdfdf;
  
}

.service_part {
  margin: 20px 0px 20px 0px;
  
}

.fa-microchip{
  font-size: 50px;
}

.fa-graduation-cap{
  font-size: 50px;
}

.fa-wrench{
  font-size: 50px;
}

.fa-users{
  font-size: 50px;
}

.single_industries_text {
  padding: 33px 15px 40px;
  background-color: #fff;
  text-align: center;
  border: 2px solid #eaebed;
  border-top: 2px solid #eaebed;
  -webkit-transition: 1s;
  transition: 1s;
}

.about_text {
  padding: 20px 0px 0px 0px;
}

.login-modal {
  margin-top: 60px;
}
.faq_part {
  padding: 40px 0px 40px 0px;
  color: #000000;
}

.blockquote0 {
  background-color: #000f52;
  color : white;
  padding: 10px 0px 10px 25px;
}

.blockquote1 {
  background-color: #000f52;
  padding: 0px 0px 30px 80px;

}

.services0 {
  padding: 20px 20px 10px 20px;
}

.services1 {
  padding: 10px 5px 0px 5px;
}

.services2 {
  padding: 20px 13px 10px 13px;
}

.btn-primary {
  margin-right: 50px;
}

.services3 {
  padding: 20px 15px 10px 15px;
}

.header-logo {
  margin-left: 30px;
}

.footer_img {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.single_footer_img {
  margin: 5px 5px 5px 5px;
  transition: transform 450ms;
}

.single_footer_img:hover {
  transform: scale(3);
}

.footer-list {
  margin-left: 20px;
}

.faqs {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
}

.faqs .faq {
	margin: 15px 5px 15px 5px;
	padding: 15px;
	background-color: #FFF;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faqs .faq .faq-question {
	position: relative;
	font-size: 20px;
	padding-right: 80px;

	transition: all 0.4s ease;
}

.faqs .faq .faq-question::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	width: 30px;
	height: 30px;

	background-image: url('./arrow-down-mint.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;

	transition: all 0.4s ease-out;
}

.faqs .faq .faq-answer {
	opacity: 0;
	max-height: 0;
	overflow-y: hidden;
	transition: all 0.4s ease-out;
}

.faqs .faq.open .faq-question {
	margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
	transform: translateY(-50%) rotate(180deg);
}

.faqs .faq.open .faq-answer {
	max-height: 1000px;
	opacity: 1;
}