.createTestCont {
  .title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15vw;
    text-align: left;
    font-size: 2rem;

    button {
      font-size: 1rem;
      padding: 10px 30px;
      background-color: #33b5e5;
      border: 2px solid #33b5e5;
      color: #fff;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      transition: 0.3s all ease;

      &:hover {
        background-color: #0099cc;
        border-color: #0099cc;
      }
    }
  }

  .centreCard {
    background-color: #fff;
    box-shadow: 18px 18px 36px #bebebe, -18px -18px 36px #ffffff;
    margin: 3em 15vw;
    border-radius: 20px;

    .createForm {
      padding: 10px 30px 30px;

      form {
        .smallTitle {
          font-size: 1.3rem;
          font-weight: 500;
          margin-top: 1.5em;
        }

        .inputGroup {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 1.5em;

          &.twoInputs {
            grid-template-columns: repeat(2, 1fr);
          }

          &.threeInputs {
            grid-template-columns: repeat(3, 1fr);
          }

          &.w50p {
            width: 50%;
            margin: auto;
          }

          .input {
            position: relative;
            display: flex;
            flex-direction: column-reverse;

            input,
            select,
            textarea {
              padding: 10px 20px;
              color: #191d34;
              border: 2px solid #191d34;
              border-radius: 5px;
              width: 100%;
              outline: none;

              &::placeholder {
                opacity: 0;
              }

              &:focus,
              &:not(:placeholder-shown) {
                border-color: #191d34;

                & ~ label {
                  top: 0;
                  left: 7px;
                  font-size: 0.9rem;
                }
              }
            }

            label {
              position: absolute;
              left: 15px;
              top: 50%;
              transform: translateY(-50%);
              background-color: #fff;
              padding: 5px;
              font-size: 1rem;
              cursor: pointer;
              transition: 0.3s all ease;
            }
          }

          &:not(:first-child) {
            margin-top: 1.5em;
          }
        }

        &:not(:first-child) {
          margin-top: 1.5em;
        }
      }

      button {
        border-radius: 5px;
        padding: 10px 30px;
        color: #fff;
        outline: none;
        cursor: pointer;
        transition: 0.3s all ease;

        &.addBtn {
          background-color: #33b5e5;
          border: 2px solid #33b5e5;

          &:hover {
            background-color: #0099cc;
            border: 2px solid #0099cc;
          }
        }

        &.removeBtn {
          height: 30px;
          width: 30px;
          padding: 0;
          background-color: #eb0808;
          border: 2px solid #eb0808;
          font-size: 0.9rem;

          &:hover {
            background-color: #ce0909;
            border: 2px solid #ce0909;
          }
        }

        &.createBtn {
          background-color: #00c851;
          border: 2px solid #00c851;

          &:hover {
            background-color: #007e33;
            border: 2px solid #007e33;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .createTestCont {
    .title {
      padding: 0 20px;
      font-size: 1.7rem;

      button {
        padding: 7px 10px;
        font-size: 0.9rem;
      }
    }

    .centreCard {
      margin: 2em 20px 3em;
      border-radius: 10px;

      .createForm {
        padding: 10px 20px 30px;

        form {
          .inputGroup {
            &.twoInputs {
              grid-template-columns: repeat(1, 1fr);
            }

            &.threeInputs {
              grid-template-columns: repeat(1, 1fr);
            }

            &.w50p {
              width: 100%;
            }

            .input {
              input,
              select,
              textarea {
                padding: 7px 15px;
                border: 2px solid #191d34;
                border-radius: 5px;
                outline: none;

                &::placeholder {
                  opacity: 0;
                }

                &:focus,
                &:not(:placeholder-shown) {
                  & ~ label {
                    font-size: 0.75rem;
                  }
                }
              }

              label {
                left: 15px;
                font-size: 0.9rem;
              }
            }
          }
        }

        button {
          padding: 7px 15px;
        }
      }
    }
  }
}
